<%= form_for(@accounting) do |f| %>
  <% if @accounting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accounting.errors.count, "error") %> prohibited this accounting from being saved:</h2>

      <ul>
      <% @accounting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr class="field" id='date-form'>
      <th><%= f.label :accounting_date %></th>
      <td>
        <div class="input-group date datepicker" style="width:200px;">
          <%= f.text_field :accounting_date, class: 'form-control', placeholder: 'YYYY/MM/DD' %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </td>
    </tr>
    <tr class="field">
      <th><%= f.label :accounting_money %></th>
      <td><%= f.number_field :accounting_money %>円</td>
    </tr>
    <tr class="field">
      <th><%= f.label :item_name %></th>
      <td><%= f.text_field :item_name %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :accounting_group_id %></th>
      <td><%= f.collection_select :accounting_group_id, AccountingGroup.where(:accounting_class => @accounting.accounting_class), :id, :accounting_group_name %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :purchase_place %></th>
      <td><%= f.text_field :purchase_place %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :accounting_source %></th>
      <td><%= f.select :accounting_source, options_for_select(Constants::ACCOUNTING_SOURCE) %></td>
    </tr>
  </table>
  <%= f.hidden_field :accounting_class %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Back', accountings_path %>
<script type="text/javascript">
    var ready = function () {
        $('.datepicker').datetimepicker({
            locale: 'ja',
            viewMode: 'days',
            format: 'YYYY/MM/DD'
        });
    };
    $(document).ready(ready)
    $(document).on('page:load', ready)

</script>