<p id="notice"><%= notice %></p>

<h1>収支情報一覧</h1>
<%= link_to '支出登録', new_accounting_path(accounting_class_id: 2), class: 'btn btn-info' %>　<%= link_to '収入登録', new_accounting_path(accounting_class_id: 1), class: 'btn btn-warning' %>
<%= search_form_for(@q, url: accountings_path, method: :get) do |f| %>
  <table border="1" class="accounting-table">
    <tr class="field">
      <th><%= f.label :accounting_class_id %></th>
      <td><%= f.collection_select :accounting_class_id_eq, AccountingClass.all, :id, :accounting_class_name, :include_blank => true %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :accounting_date %></th>
      <td class="search_accounting_date">
        <div class="input-group date datepicker_prev datepicker_accounting" style="width:160px;">
          <%= f.text_field :accounting_date_gteq, class: 'form-control accounting-date-calendar', placeholder: 'YYYY/MM/DD' %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>〜
        <div class="input-group date datepicker_next datepicker_accounting" style="width:160px;">
          <%= f.text_field :accounting_date_lteq, class: 'form-control accounting-date-calendar', placeholder: 'YYYY/MM/DD' %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </td>
    </tr>
    <tr class="field">
      <th><%= f.label :accounting_money %></th>
      <td><%= f.number_field :accounting_money_gteq %>〜<%= f.number_field :accounting_money_lteq %>円</td>
    </tr>
    <tr class="field">
      <th><%= f.label :item_name %></th>
      <td><%= f.search_field :item_name_cont %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :accounting_group_id %></th>
      <td><%= f.collection_select :accounting_group_id_eq, AccountingGroup.all, :id, :accounting_group_name, :include_blank => true %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :purchase_place %></th>
      <td><%= f.text_field :purchase_place_cont %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :accounting_source_id %></th>
      <td><%= f.collection_select :accounting_source_id_eq, AccountingSource.all, :id, :accounting_source_name, :include_blank => true %></td>
    </tr>
  </table>
  <%= f.submit '検索', class: "btn btn-danger" %>　<!--input type="button" class="btn btn-default" value="クリア" onclick="ClearSearchConditions();"-->

<% end %>

<%= page_entries_info(@accountings) %><br><%= paginate @accountings %>

<table border="1" class="accounting-table">
  <thead>
    <tr>
      <th>収支</th>
      <th>会計日</th>
      <th>会計額</th>
      <th>品名</th>
      <th>費目</th>
      <th>場所</th>
      <th>収支元</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @accountings.each do |accounting| %>
      <tr>
        <td><%= accounting.accounting_class.accounting_class_name %></td>
        <td><%= accounting.accounting_date %></td>
        <td style="text-align: right;"><%= number_to_currency(accounting.accounting_money) %></td>
        <td><%= accounting.item_name %></td>
        <td><%= accounting.accounting_group.accounting_group_name %></td>
        <td><%= accounting.purchase_place %></td>
        <td><%= accounting.accounting_source.accounting_source_name %></td>
        <td><%= link_to '編集', edit_accounting_path(accounting) %></td>
        <td><%= link_to '削除', accounting, method: :delete, data: { confirm: '収支情報を削除しますか？' } %></td>
      </tr>
    <% end %>
    <tr><th colspan="6" style="text-align: right;">合計額</th><td colspan="3" style="text-align: right;"><%= number_to_currency(@sum_accounting_money) %></td></tr>
  </tbody>
</table>
<script type="text/javascript">
    var ready = function () {
        $('.datepicker_prev').datetimepicker({
            locale: 'ja',
            viewMode: 'days',
            format: 'YYYY/MM/DD'
        });
        $('.datepicker_next').datetimepicker({
            locale: 'ja',
            viewMode: 'days',
            format: 'YYYY/MM/DD'
        });
    };
    $(document).ready(ready)
    $(document).on('page:load', ready)


</script>